.page-tab {
  color: #767676;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 12px;
  margin: 0;
  padding: 9px 0;
  cursor: pointer;
}

.active-page-tab {
  color: #007B80;
  border-bottom: 2px solid #007B80;
  font-weight:500;
  cursor: default;
}
