table {
  width: 100%;
  border: 1px solid #E3E3E3;
  text-align: left;
  border-spacing: 0;
  border-radius:4px;
  -moz-border-radius:4px;
  background: #FFFFFF;

  .category {
    color: #767676;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    padding: 11px 24px 6px;
    border-bottom: 1px solid #EEEEEE;
  }

  td {
    padding: 6px 24px;
    color: #444444;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 24px;
    border-bottom: 1px solid #EEEEEE;
  }

  td:last-child, th:last-child {
    padding-right: 48px;
  }

  td:last-child, td:nth-child(2) {
      width: 1%;
      white-space: nowrap;
  }

    tr:last-child td {
      border-bottom: none;
      padding-bottom: 11px;
  }
}
